{% extends 'base.html' %}


{% block MAIN_CONTENT %}
{% load group_tags %}


<br>
<h2>Остатки продукции по всем организациям:</h2>
<br>
<table class="table table-striped">
    <tr>
        <th>Дата посещения</a></th>
        <th>ФИО специалиста</a></th>
        <th>Организация</a></th>
        <th>Комментарии</a></th>
        <th>Продукция и количество</th>
        
    </tr>
    {% for remain in page_obj %}
    <tr>
        <th>{{ remain.date }}</th>
        <th>{{ remain.user_name }}</th>
        <th>{{ remain.organization }}</th>
        <th>{{ remain.comment }}</th>
        <th>
            {% if remain.products_name_1 %}   
                {{ remain.products_name_1 }}-({{ remain.products_1 }} кг);
            {% else %}
            {% endif %}
            {% if remain.products_name_2 %}   
                {{ remain.products_name_2 }}-({{ remain.products_2 }} кг);
            {% else %}
            {% endif %}
            {% if remain.products_name_3 %}   
                {{ remain.products_name_3 }}-({{ remain.products_3 }} кг);
            {% else %}
            {% endif %}
            {% if remain.products_name_4 %}   
                {{ remain.products_name_4 }}-({{ remain.products_4 }} кг);
            {% else %}
            {% endif %}
            {% if remain.products_name_5 %}   
                {{ remain.products_name_5 }}-({{ remain.products_5 }} кг).
            {% else %}
            {% endif %}
        </th>
    </tr>
    {% endfor %}
</table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Первая</a>
            <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
        {% endif %}
    </span>
</div>





{% endblock MAIN_CONTENT %}