{% extends 'base.html' %}

{% block MAIN_CONTENT %}
{% load static %}


<h1>Организация: {{organization.name}}</h1>
<h3>Подразделение: {{organization.farm}}</h3>
<h4>Менеджер: {{organization.manager}}</h4>
<h4>Консультант: {{organization.consultant}}</h4>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    
</head>
<div class="horizontal-scroll">
   
    {% load group_tags %}

<br>
<table class="table table-striped">
<tr>
    <h4><font color='blue'>Мониторинги:</font></h4>
</tr>
<tr>
    {% if user.is_authenticated %}
        {% if user|has_group:"Consultant" %}
    <th>Молоко:</th>
    <th>Корма:</th>
    <th>Переваримость:</th>
    <th>ph мочи:</th>
    <th>Кетоновые тела:</th>
    {% else %}
    {% endif %}
    {% endif %}
    {% if user.is_authenticated %}
        {% if user|has_group:"Assistant" %}
    <th>Корма:</th>
    <th>Переваримость:</th>
    <th>ph мочи:</th>
    <th>Кетоновые тела:</th>
    {% else %}
    {% endif %}
    {% endif %}
    {% if user.is_authenticated %}
        {% if user|has_group:"Manager" %}
    <th>Молоко:</th>
    {% else %}
    {% endif %}
    {% endif %}
    
</tr>
<tr>
   
    {% if user.is_authenticated %}
        {% if user|has_group:"Consultant" %}
    <th><button class="btn btn-outline-info" type="button"><a href="{% url 'monit_audit:audit-create' %}">Создать</a></button></th>    
    <th><button class="btn btn-outline-info" type="button"><a href="{% url 'monitoring:monitoringfeeds-create' %}">Создать</a></button></th>
    <th><button class="btn btn-outline-info" type="button"><a href="{% url 'monitoring_nasko:monitoring-nasko-create' %}">Создать</a></button></th>
    <th><button class="btn btn-outline-info" type="button"><a href="{% url 'monitoring_ph:monitoring-ph-create' %}">Создать</a></button></th>
    <th><button class="btn btn-outline-info" type="button"><a href="{% url 'monitoring_ket:monitoring-ket-create' %}">Создать</a></button></th>
    {% else %}
    {% endif %}
    {% endif %}  
    
    {% if user.is_authenticated %}
        {% if user|has_group:"Assistant" %}    
    <th><button class="btn btn-outline-info" type="button"><a href="{% url 'monitoring:monitoringfeeds-create' %}">Создать</a></button></th>
    <th><button class="btn btn-outline-info" type="button"><a href="{% url 'monitoring_nasko:monitoring-nasko-create' %}">Создать</a></button></th>
    <th><button class="btn btn-outline-info" type="button"><a href="{% url 'monitoring_ph:monitoring-ph-create' %}">Создать</a></button></th>
    <th><button class="btn btn-outline-info" type="button"><a href="{% url 'monitoring_ket:monitoring-ket-create' %}">Создать</a></button></th>
    {% else %}
    {% endif %}
    {% endif %}
    
    {% if user.is_authenticated %}
        {% if user|has_group:"Manager" %}
    <th><button class="btn btn-outline-info" type="button"><a href="{% url 'monit_audit:audit-create' %}">Создать</a></button></th>    
    {% else %}
    {% endif %}
    {% endif %}     
</tr>


{% if user.is_authenticated %}
    {% if user|has_group:"Consultant" %}

<tr>
    <th>
    {% if organization.monitauditmilks.all %}
        {% for monitauditmilk in organization.monitauditmilks.all %}
        <a href="{% url 'monit_audit:audit-detail' monitauditmilk.id  %}">
            {{ monitauditmilk.date }}-<font color='red'>{{ monitauditmilk.user_name }}</font></a><br>
        {% endfor %}
    {% else %}
    отсутствует
    {% endif %}
    </th>

    <th>
    {% if organization.monitoringfeeds.all %}
        {% for monitoringfeed in organization.monitoringfeeds.all %}
        <a href="{% url 'monitoring:monitoringfeeds-detail' monitoringfeed.id  %}">
            {{ monitoringfeed.date }}-<font color='red'>{{ monitoringfeed.group }}</font></a><br>
        {% endfor %}
    {% else %}
    отсутствует
    {% endif %}
    </th>

    <th>
        {% if organization.monitoring_naskos.all %}
            {% for monitoring_nasko in organization.monitoring_naskos.all %}
            <a href="{% url 'monitoring_nasko:monitoring-nasko-detail' monitoring_nasko.id  %}">
                {{ monitoring_nasko.date }}-<font color='red'>{{ monitoring_nasko.group }}</font></a><br>
            {% endfor %}
        {% else %}
        отсутствует
        {% endif %}
    </th>
    <th>
        {% if organization.monitoring_phs.all %}
            {% for monitoring_ph in organization.monitoring_phs.all %}
            <a href="{% url 'monitoring_ph:monitoring-ph-detail' monitoring_ph.id  %}">
                {{ monitoring_ph.date }}-<font color='red'>{{ monitoring_ph.group }}</font></a><br>
            {% endfor %}
        {% else %}
        отсутствует
        {% endif %}
    </th>
    <th>
        {% if organization.monitoring_kets.all %}
            {% for monitoring_ket in organization.monitoring_kets.all %}
            <a href="{% url 'monitoring_ket:monitoring-ket-detail' monitoring_ket.id  %}">
                {{ monitoring_ket.date }}-<font color='red'>{{ monitoring_ket.group }}</font></a><br>
            {% endfor %}
        {% else %}
        отсутствует
        {% endif %}
    </th>
</tr>

{% else %}
{% endif %}
{% endif %}
</table>



{% if user.is_authenticated %}
{% if user|has_group:"Administrator" %}
<h5>Дойное поголовье</h5>
<table class="table table-striped">
{% if organization.monitauditmilks.all %}  
    <tr>   
        <th><center> Дата<br>мониторинга</center></th>
        <th><center> Поголовье<br> на ферме</center></th>
        <th><center> Количество<br> дойного<br> поголовья</center></th>
        <th><center> Среднее<br> количество<br> дней лактации</center></th>
        <th><center> Общий<br> удой<br> по ферме</center></th>
        <th><center> Удой на<br> одну корову<br> в сутки, кг</center></th>
        <th><center> Реализация<br> молока<br> в день</center></th>
        <th><center> Жирность<br> молока,<br> %</center></th>
        <th><center> Белок<br> молока,<br> %</center></th>
        <th><center> Соматика<br> молока,<br> тыс/мл</center></th>
        <th><center> Количество<br> доений</center></th>
        <th><center> Вес взрослого<br> животного</center></th>
        <th><center> Количество<br> отелов за<br> месяц</center></th>
        <th><center> Вес телят<br> при<br> рождении</center></th>
        <th><center> ФИО</center></th>
    </tr>
    {% for monitauditmilk in organization.monitauditmilks.all %} 
    <tr>   
        <th>{{ monitauditmilk.date }}</th>
        <th><center>{{ monitauditmilk.livestock }}</center></th>
        <th><center>{{ monitauditmilk.dairy_cattle }}</center></th>
        <th><center>{{ monitauditmilk.days_lactation }}</center></th>
        <th><center>{{ monitauditmilk.milk }}</center></th>
        <th><center>{{ monitauditmilk.milk_cow }}</center></th>
        <th><center>{{ monitauditmilk.milk_sales }}</center></th>
        <th><center>{{ monitauditmilk.milk_fat }}</center></th>
        <th><center>{{ monitauditmilk.milk_protein }}</center></th>
        <th><center>{{ monitauditmilk.milk_somatics }}</center></th>
        <th><center>{{ monitauditmilk.number_milkings }}</center></th>
        <th><center>{{ monitauditmilk.weight_cow }}</center></th>
        <th><center>{{ monitauditmilk.number_calvings }}</center></th>
        <th><center>{{ monitauditmilk.calf_weight }}</center></th>
        <th>{{ monitauditmilk.user_name }}</th>
    </tr>          
    {% endfor %}
    {% else %}
    отсутствует
{% endif %}
    
{% else %}
{% endif %}
{% endif %}

</table>
</div>



<div class="horizontal-scroll">
{% if user.is_authenticated %}
{% if user|has_group:"Consultant" %} 

<h5>Дойное поголовье</h5>
<table class="table table-striped">
{% if organization.monitauditmilks.all %}  
    <tr>   
        <th><center> Дата<br>мониторинга</center></th>
        <th><center> Поголовье<br> на ферме</center></th>
        <th><center> Количество<br> дойного<br> поголовья</center></th>
        <th><center> Среднее<br> количество<br> дней лактации</center></th>
        <th><center> Общий<br> удой<br> по ферме</center></th>
        <th><center> Удой на<br> одну корову<br> в сутки, кг</center></th>
        <th><center> Реализация<br> молока<br> в день</center></th>
        <th><center> Жирность<br> молока,<br> %</center></th>
        <th><center> Белок<br> молока,<br> %</center></th>
        <th><center> Соматика<br> молока,<br> тыс/мл</center></th>
        <th><center> Количество<br> доений</center></th>
        <th><center> Вес взрослого<br> животного</center></th>
        <th><center> Количество<br> отелов за<br> месяц</center></th>
        <th><center> Вес телят<br> при<br> рождении</center></th>
        <th><center> ФИО</center></th>
    </tr>
    {% for monitauditmilk in organization.monitauditmilks.all %} 
    <tr>   
        <th>{{ monitauditmilk.date }}</th>
        <th><center>{{ monitauditmilk.livestock }}</center></th>
        <th><center>{{ monitauditmilk.dairy_cattle }}</center></th>
        <th><center>{{ monitauditmilk.days_lactation }}</center></th>
        <th><center>{{ monitauditmilk.milk }}</center></th>
        <th><center>{{ monitauditmilk.milk_cow }}</center></th>
        <th><center>{{ monitauditmilk.milk_sales }}</center></th>
        <th><center>{{ monitauditmilk.milk_fat }}</center></th>
        <th><center>{{ monitauditmilk.milk_protein }}</center></th>
        <th><center>{{ monitauditmilk.milk_somatics }}</center></th>
        <th><center>{{ monitauditmilk.number_milkings }}</center></th>
        <th><center>{{ monitauditmilk.weight_cow }}</center></th>
        <th><center>{{ monitauditmilk.number_calvings }}</center></th>
        <th><center>{{ monitauditmilk.calf_weight }}</center></th>
        <th>{{ monitauditmilk.user_name }}</th>
    </tr>          
    {% endfor %}
    {% else %}
    отсутствует
{% endif %}
</table>
{% else %}
{% endif %}
{% endif %} 
</div>
{% endblock MAIN_CONTENT %}

