{% extends 'base.html' %}


{% block MAIN_CONTENT %}
<h1>Организация: {{organization.name}}</h1>
<h3>Подразделение: {{organization.farm}}</h3>
<h4>Менеджер: {{organization.manager}}</h4>
<h4>Консультант: {{organization.consultant}}</h4>

<br>
<table class="table table-striped">
<tr>
    <th>Мониторинги "кормов":</th>
    <th>Мониторинги "ph мочи":</th>
    <th>Мониторинги "кетонов":</th>
    <th>Мониторинги "переваримости":</th>
    
</tr>
<tr>
    <th><button class="btn btn-outline-info" type="button"><a href="{% url 'monitoring:monitoringfeeds-create' %}">Создать</a></button></th>
    <th><button class="btn btn-outline-info" type="button"><a href="">Создать</a></button></th>
    <th><button class="btn btn-outline-info" type="button"><a href="">Создать</a></button></th>
    <th><button class="btn btn-outline-info" type="button"><a href="">Создать</a></button></th>      
</tr>

<tr>
    {% if organization.monitoringfeeds.all %}

    {% for monitoringfeed in organization.monitoringfeeds.all %}
    <th><a href="{% url 'monitoring:monitoringfeeds-detail' monitoringfeed.id  %}">{{ monitoringfeed.date }}</a>
    <!-- <button class="btn btn-outline-info" type="button"><a href="{% url 'monitoring:monitoringfeeds-update' monitoringfeed.id %}">Изменить</a></button> -->
    </th>
</tr>    

    
    {% endfor %}
{% else %}


{% endif %}
</table>
                
{% endblock MAIN_CONTENT %}