{% extends 'base.html' %}


{% block MAIN_CONTENT %}
{% load group_tags %}

{% if user.is_authenticated %}
    {% if user|has_group:"Assistant" or user|has_group:"Manager" %}
<br>
<br>
<h2>Ваш мониторинг успешно создан!!!</h2>
<br>
<h2>Благодарим за работу!!!</h2>
{% else %}
{% endif %}
{% endif %}

{% if user.is_authenticated %}
    {% if user|has_group:"Consultant" %}
<br>
<button class="btn btn-outline-info" type="button"><a href="{% url 'consultants:organization-create' %}">Создать новую организацию</a></button>

<br>

<br>
<h1>Список ваших организаций</h1>
<br>
<table class="table table-striped">
    <tr>
        <th>Название</a></th>
        <th>Подразделение</th>
        <th>Менеджер</th>
        <th>Консультант</th>
        <th>Редактировать</th>
    </tr>
    {% for organization in object_list %}
    <tr>
        <th><a href="{% url 'consultants:organization-detail' organization.id %}">{{ organization.name }}</a></th>
        <th><a href="{% url 'consultants:organization-detail' organization.id %}">{{ organization.farm }}</a></th>
        <th>{{ organization.manager }}</th>
        <th>{{ organization.consultant }}</th>
        <th><button class="btn btn-outline-info" type="button"><a href="{% url 'consultants:organization-update' organization.id %}">Изменить</a></button></th>
    </tr>
    {% endfor %}
</table>
{% else %}
{% endif %}
{% endif %}






{% endblock MAIN_CONTENT %}