{% extends 'base.html' %}


{% block MAIN_CONTENT %}
{% load group_tags %}
{% if user.is_authenticated %}
{% if user|has_group:"Consultant" %} 
<br>
<br>
<h3>Ваша группа пользователей "Консультант"</h3>
{% endif %}
{% endif %} 

{% if user.is_authenticated %}
{% if user|has_group:"Assistant" %} 
<br>
<br>
<h3>Ваша группа пользователей "Помощник"</h3>
{% endif %}
{% endif %}

{% if user.is_authenticated %}
{% if user|has_group:"Manager" %} 
<br>
<br>
<h3>Ваша группа пользователей "Менеджер"</h3>
{% endif %}
{% endif %}

{% if user.is_authenticated %}
{% if user|has_group:"Administrator" %} 
<br>
<br>
<h3>Ваша группа пользователей "Руководитель"</h3>
{% endif %}
{% endif %}

<br>
{% if user.is_authenticated %} 
<br>
<h3>Вы авторизованный пользователь: {{ user }} </h3>
<br>
<br>
    <th><button type="button" class="btn btn-outline-info"><a href="{% url 'user:logout' %}">Выход из профиля</a></button></th>
    
{% else %}
<br>
<br>
<h1>Вы не авторизованный пользователь.</h1>
<br>
<br>
    <th><button type="button" class="btn btn-outline-info"><a href="{% url 'user:registration' %}">Регистрация нового пользователя</a></button></th>
    <th><button type="button" class="btn btn-outline-info"><a href="{% url 'user:login_entrance' %}">Войти в свой профиль</a></button></th>


{% endif %}



{% endblock MAIN_CONTENT %}
