{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block MAIN_CONTENT %}
<center>
<h2><font color='blue'>Организация: {{ object.organization }}</font></h2>
<br>
<h3>Аудит дойного поголовья специалистами</h3>
<h3><font color='orange'> Научно-исследовательского предприятия "Алникор" </font> </font></center></h3>
</center>
<br>
<strong>Дата мониторинга:</strong> {{ object.date }}<br><br>
    <div>
        <h4><center>Подробности аудита</center></h4><br>
    <table>
        <tr>
            <th><small><font color='blue'>Тип содержания:</font> {{ object.content }}</small></th>
            <th><pre>    </pre></th>
            <th><small><font color='blue'>Поголовье на ферме, гол:</font> {{ object.livestock }}</small></th> 
           
        </tr> 
        <tr>
            <th><small><font color='blue'>Количество дойного поголовья, гол:</font> {{ object.dairy_cattle }}</small></th>
            <th><pre>    </pre></th>
            <th><small><font color='blue'>Среднее количество дней лактации:</font> {{ object.days_lactation }}</small></th>
            
        </tr> 
        <tr>
            <th><small><font color='blue'>Общий удой по ферме, кг:</font> {{ object.milk }}</small></th>
            <th><pre>    </pre></th>
            <th><small><font color='blue'>Удой на одну корову в сутки, кг:</font> {{ object.milk_cow }}</small></th>
            
        </tr> 
        <tr>
            <th><small><font color='blue'>Реализация молока в день, кг:</font> {{ object.milk_sales }}</small></th>
            <th><pre>    </pre></th>
            <th><small><font color='blue'>Жирность молока, %:</font> {{ object.milk_fat}}</small></th>  
           
        </tr> 
        <tr>
            <th><small><font color='blue'>Белок молока, %:</font> {{ object.milk_protein }}</small></th>
            <th><pre>    </pre></th>
            <th><small><font color='blue'>Соматика молока, тыс/мл:</font> {{ object.milk_somatics }}</small></th>
           
        </tr> 
        <tr>
            <th><small><font color='blue'>Количество доений:</font> {{ object.number_milkings }}</small></th>
            <th><pre>    </pre></th>
            <th><small><font color='blue'>Вес взрослого животного, кг:</font> {{ object.weight_cow }}</small></th> 
            
        </tr> 
        <tr>
            <th><small><font color='blue'>Количество отелов за месяц, гол:</font> {{ object.number_calvings }}</small></th>
            <th><pre>    </pre></th>
            <th><small><font color='blue'>Вес телят при рождении, кг:</font> {{ object.calf_weight }}</small></th>  
            
        </tr>
    </table> 
        
            {% if monitauditmilk.groups %} 
            <th><small><font color='blue'>Разделение по группам:</font><br> {{ object.groups }}</small></th><br> 
            {% else %}
            {% endif %} 
            {% if monitauditmilk.offers_1 %} 
            <th><small><font color='blue'>Предложения по сортировке стада:</font><br> {{ object.offers_1 }}</small></th><br> 
            {% else %}
            {% endif %} 
        
            {% if monitauditmilk.diet_composition %}
            <th><small><font color='blue'>Состав рациона:</font><br> {{ object.diet_composition }}</small></th><br>  
            {% else %}
            {% endif %} 
            {% if monitauditmilk.notes_diet %}
            <th><small><font color='blue'>Предложения по рациону:</font><br> {{ object.notes_diet }}</small></th><br>  
            {% else %}
            {% endif %}
        
            {% if monitauditmilk.diet_composition_feed %}
            <th><small><font color='blue'>Состав комбикорма:</font><br> {{ object.diet_composition_feed }}</small></th><br>  
            {% else %}
            {% endif %}
            {% if monitauditmilk.offers_2 %}
            <th><small><font color='blue'>Предложения по комбикорму:</font><br> {{ object.offers_2 }}</small></th><br>  
            {% else %}
            {% endif %} 
                
            {% if monitauditmilk.notes_animall %}
            <th><small><font color='blue'>Замечания по животным:</font><br> {{ object.notes_animall }}</small></th><br>  
            {% else %}
            {% endif %} 
            {% if monitauditmilk.offers_3 %}
            <th><small><font color='blue'>Предложения:</font><br> {{ object.offers_3 }}</small></th><br>  
            {% else %}
            {% endif %} 
        
            {% if monitauditmilk.withdrawal %}
            <th><small><font color='blue'>Выбытие (количество, причины):</font><br> {{ object.withdrawal }}</small></th><br>  
            {% else %}
            {% endif %}
            {% if monitauditmilk.offers_4 %}
            <th><small><font color='blue'>Предложения:</font><br> {{ object.offers_4 }}</small></th><br>  
            {% else %}
            {% endif %}
        
            {% if monitauditmilk.notes %}
            <th><small><font color='blue'>Другие проблемы:</font><br> {{ object.notes }}</small></th><br>  
            {% else %}
            {% endif %} 
        
            {% if monitauditmilk.offers %}
            <th><small><font color='blue'>Предложения и предстоящий план работы:</font><br> {{ object.offers }}</small></th><br>
            {% else %}
            {% endif %} 
        
    
    <br>
    
        <strong> {{ object.job }}_____________________________________{{ object.user_name }}</strong><br>
        
        <hr>  
    </div>
    <small><font color='blue'><strong>Добавлено:</strong> {{ object.created_at }}</font></small>

    {% load group_tags %}
    {% if user.is_authenticated %}
        {% if user|has_group:"Consultant" %}

    <button class="btn btn-outline-info" type="button"><a href="{% url 'monit_audit:audit-update' monitauditmilk.id %}">Изменить отчет</a></button>
    {% else %}
    {% endif %}
    {% endif %}
{% endblock MAIN_CONTENT %}