{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block MAIN_CONTENT %}

<center>
<h2><font color='blue'>Организация: {{ object.organization }}</font></h2>
<br>
<h3>Отчет и рекомендации по результатам мониторинга специалистами</h3>
<h3><font color='orange'> Научно-исследовательского предприятия "Алникор" </font> </font></center></h3>
</center>
<br>
<strong>Дата мониторинга:</strong> {{ object.date }}<br>
    <div>
        Для анализа качества смешивания и контроля наличия физически-эффективной клетчатки проводился отбор готовой
            кормосмеси в группе:<font color='blue'> {{ object.group }}</font>.<br> Результаты этого анализа предоставлены ниже.
        <br>

        <style type="text/css">
            TABLE {
             border-collapse: collapse; /* Убираем двойные границы между ячейками */
             background: rgb(238, 238, 230); /* Цвет фона таблицы */
             border: 1px solid #000; /* Рамка вокруг таблицы */
            }
            TD, TH {
             padding: 5px; /* Поля вокруг текста */
             border: 2px solid green; /* Рамка вокруг ячеек */
            }
           </style>
           
        <center>Пенсильванское сито PSPS4:
    <table>
       
        <tr>
            <td>№<br> п/п<br> </td>
            <td><center>Сито<br> <br></center></td>
            <td><center>Диаметр,<br> мм<br></center></td>
            <td><center>Количество<br> остатков,<br> гр.</center></td>
            <td><center>%<br> остатков<br> на сите</center></td>
            <td><center>Норма<br> PSPS<br> 2013</center></td>      
        </tr>   
        <tr>
            <td>1</td>
            <td>верхнее</td>
            <td><center>19</center></td>
            <td><center>{{object.feed_1}}</center></td>
            <td><center>{{object.percent_feed_1}}</center></td>
            <td><center>2-8</center></td>
            
        </tr>
        <tr>
            <td>2</td>
            <td>среднее</td>
            <td><center>8</center></td>
            <td><center>{{object.feed_2}}</center></td>
            <td><center>{{object.percent_feed_2}}</center></td>
            <td><center>30-50</center></td>
            
        </tr>
        <tr>
            <td>3</td>
            <td>нижнее</td>
            <td><center>4</center></td>
            <td><center>{{object.feed_3}}</center></td>
            <td><center>{{object.percent_feed_3}}</center></td>
            <td><center>10-20</center></td>
            
        </tr>
        <tr>
            <td>4</td>
            <td>поддон</td>
            <td><center>-</center></td>
            <td><center>{{object.feed_4}}</center></td>
            <td><center>{{object.percent_feed_4}}</center></td>
            <td><center>30-40</center></td>
            
        </tr>
        <tr>
            <td colspan="3">Итого:</td>
            <td><center>{{object.summa}}</center></td>
            <td><center>100</center></td>
            <td><center>-</center></td>
            
        </tr>
    </table></center>

    <br>
    <center><table>
        <tr>
            <th>Вид(фото) верхнего сита 19 мм:<br><img src="{{ object.foto_1.url }}" class="img-thumbnail" alt=""></th>
            <th><pre>   </pre></th>
            <th>Вид(фото) среднего сита 8 мм:<br><img src="{{ object.foto_2.url }}" class="img-thumbnail" alt=""></th>
        </tr>
        
    </table></center><br>
    <center><table>
        <tr>
            <th>Вид(фото) нижнего сита 4 мм:<br><img src="{{ object.foto_3.url }}" class="img-thumbnail" alt=""></th>
            <th><pre>   </pre></th>
            <th>Вид(фото) поддона:<br><img src="{{ object.foto_4.url }}" class="img-thumbnail" alt=""></th>
        </tr>
                
    </table></center>
    <br>
        <strong>Замечания по кормосмеси:</strong><br><br> {{ object.feed_mixture }}<br><br>
        <strong>Рекомендации:</strong><br><br> {{ object.recommendations }}<br><br>
        <br>
         {{ object.job }}_____________________________________{{ object.user_name }}<br>
        
        <hr>  
    </div>
    <small><font color='blue'><strong>Добавлено:</strong> {{ object.created_at }}</font></small>

    {% load group_tags %}
    {% if user.is_authenticated %}
        {% if user|has_group:"Consultant" %}

    <button class="btn btn-outline-info" type="button"><a href="{% url 'monitoring:monitoringfeeds-update' monitoringfeed.id %}">Изменить отчет</a></button>

    {% else %}
    {% endif %}
    {% endif %}

{% endblock MAIN_CONTENT %}