{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block MAIN_CONTENT %}
<center>
<h2><font color='blue'>Организация: {{ object.organization }}</font></h2>
<br>
<h3>Отчет и рекомендации по результатам мониторинга специалистами</h3>
<h3><font color='orange'> Научно-исследовательского предприятия "Алникор" </font> </font></center></h3>
</center>
<br>
<strong>Дата мониторинга:</strong> {{ object.date }}<br>
    <div>
        <strong>Для контроля переваримости кормов проведено исследование кала на ситах Наско в группе:
            <font color='blue'> {{ object.group }}</font>. Результаты этого анализа предоставлены ниже.
        </strong><br><br>
        <h4><center>Результат промывки кала:</center></h4><br>
    <table class="table table-striped">
        <tr>
            <th>№ п/п</th>
            <th>Сито</th>
            <th><center>Количество остатков, гр.</center></th>
            <th><center>% остатков на сите</center></th>
            <th><center>Норма, %</center></th>      
        </tr>   
        <tr>
            <th>1</th>
            <th>верхнее</th>
            <th><center>{{object.feces_1}}</center></th>
            <th><center>{{object.percent_feces_1}}</center></th>
            <th><center>меньше 10 %</center></th>
            <th>
        </tr>
        <tr>
            <th>2</th>
            <th>среднее</th>
            <th><center>{{object.feces_2}}</center></th>
            <th><center>{{object.percent_feces_2}}</center></th>
            <th><center>10-20 %%</center></th>
            <th>
        </tr>
        <tr>
            <th>3</th>
            <th>нижнее</th>
            <th><center>{{object.feces_3}}</center></th>
            <th><center>{{object.percent_feces_3}}</center></th>
            <th><center>больше 70 %</center></th>
            <th>
        </tr>
        
        <tr>
            <th>Итого:</th>
            <th></th>
            <th><center>{{object.summa}}</center></th>
            <th><center>100</center></th>
            <th><center>-</center></th>
            <th>
        </tr>
    </table>
    <br>
    <table>
        <tr>
            <th>Вид(фото) верхнего сита:</th>
            <th><pre>   </pre></th>
            <th>Вид(фото) среднего сита:</th>
        </tr>
        <tr>
            <th><img src="{{ object.foto_1.url }}" class="img-thumbnail" alt=""></th>
            <th><pre>   </pre></th>
            <th><img src="{{ object.foto_2.url }}" class="img-thumbnail" alt=""></th>
        </tr>
        <tr>
            <th>Вид(фото) нижнего сита:</th>
            
        </tr>
        <tr>
            <th><img src="{{ object.foto_3.url }}" class="img-thumbnail" alt=""></th>
            
        </tr>
        
    </table>

        <strong>Замечания:</strong><br><br> {{ object.feces_mixture }}<br><br>
        <strong>Рекомендации:</strong><br><br> {{ object.recommendations }}<br><br>
        <br>
        <strong></strong> {{ object.job }}_____________________________________{{ object.user_name }}<br>
        
        <hr>  
    </div>
    <small><font color='blue'><strong>Добавлено:</strong> {{ object.created_at }}</font></small>
   
    {% load group_tags %}
    {% if user.is_authenticated %}
        {% if user|has_group:"Consultant" %}

    <button class="btn btn-outline-info" type="button"><a href="{% url 'monitoring_nasko:monitoring-nasko-update' monitoring_nasko.id %}">Изменить отчет</a></button>

    {% else %}
    {% endif %}
    {% endif %}
    
{% endblock MAIN_CONTENT %}