{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block MAIN_CONTENT %}
<center>
<h2><font color='blue'>Организация: {{ object.organization }}</font></h2>
<br>
<h3>Отчет и рекомендации по результатам мониторинга специалистами</h3>
<h3><font color='orange'> Научно-исследовательского предприятия "Алникор" </font> </font></center></h3>
</center>
<br>
<strong>Дата мониторинга:</strong> {{ object.date }}<br>
    <div>
        Для контроля переваримости кормов проведено исследование кала на "ситах Наско" в группе:
            <font color='blue'> {{ object.group }}</font>.<br> Результаты этого анализа предоставлены ниже.
        <br>
        <center>Результат промывки кала:</center><br>

        <style type="text/css">
            TABLE {
             border-collapse: collapse; /* Убираем двойные границы между ячейками */
             background: rgb(238, 238, 230); /* Цвет фона таблицы */
             border: 1px solid #000; /* Рамка вокруг таблицы */
            }
            TD, TH {
             padding: 5px; /* Поля вокруг текста */
             border: 2px solid green; /* Рамка вокруг ячеек */
            }
           </style>
           
        <center><table>
        <tr>
            <td>№ <br>п/п</td>
            <td><center>Сито</center></td>
            <td><center>Количество<br> остатков,<br> гр.</center></td>
            <td><center>%<br> остатков<br> на сите</center></td>
            <td><center>Норма, %</center></td>      
        </tr>   
        <tr>
            <td>1</td>
            <td>верхнее</td>
            <td><center>{{object.feces_1}}</center></td>
            <td><center>{{object.percent_feces_1}}</center></td>
            <td><center>меньше 10 %</center></td>
            
        </tr>
        <tr>
            <td>2</td>
            <td>среднее</td>
            <td><center>{{object.feces_2}}</center></td>
            <td><center>{{object.percent_feces_2}}</center></td>
            <td><center>10-20 %%</center></td>
            
        </tr>
        <tr>
            <td>3</td>
            <td>нижнее</td>
            <td><center>{{object.feces_3}}</center></td>
            <td><center>{{object.percent_feces_3}}</center></td>
            <td><center>больше 70 %</center></td>
            
        </tr>
        
        <tr>
            
            <td colspan="2">Итого:</td>
            <td><center>{{object.summa}}</center></td>
            <td><center>100</center></td>
            <td><center>-</center></td>
            
        </tr>
    </table></center>
    <br>
    <center><table>
        <tr>
            <td>Вид(фото) верхнего сита:<br><img src="{{ object.foto_1.url }}" class="img-thumbnail" alt=""></td>
            
            <td>Вид(фото) среднего сита:<br><img src="{{ object.foto_2.url }}" class="img-thumbnail" alt=""></td>
        </tr>
        
        <tr>
            <td colspan="2">Вид(фото) нижнего сита:<br><img src="{{ object.foto_3.url }}" class="img-thumbnail" alt=""></td>  
        </tr>
    </table></center>
    <br>
        <strong>Замечания:</strong><br><br> {{ object.feces_mixture }}<br><br>
        <strong>Рекомендации:</strong><br><br> {{ object.recommendations }}<br><br>
        <br>
         {{ object.job }}_____________________________________{{ object.user_name }}<br>
        
        <hr>  
    </div>
    <small><font color='blue'><strong>Добавлено:</strong> {{ object.created_at }}</font></small>
   
    {% load group_tags %}
    {% if user.is_authenticated %}
        {% if user|has_group:"Consultant" %}

    <button class="btn btn-outline-info" type="button"><a href="{% url 'monitoring_nasko:monitoring-nasko-update' monitoring_nasko.id %}">Изменить отчет</a></button>

    {% else %}
    {% endif %}
    {% endif %}
    
{% endblock MAIN_CONTENT %}